<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h2>Students</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Group</th>
        <th>Paid Form</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
        <td th:text="${student.studentGroup}"></td>
        <td th:text="${student.paidForm}"></td>
    </tr>
</table>
</body>
</html>
